.footer-signup
  .footer-signup__Inner
    .footer-signup__Inner__ulbox
      %ul
        %li
          = link_to '#' do
            プライバシーポリシー
      %ul
        %li
          = link_to '#' do
            FURIMA利用規約
      %ul
        %li
          = link_to '#' do
            ポイントに関する特約
    %h1.icon.new
      = link_to "/", class: "icon_FURIMA" do
        = image_tag "/images/logo/logo.png", alt: "FURIMAのアイコン"
      .p © FURIMA