.wrapper
  = render "header"
  
.main-signup
  %h2 ユーザー情報登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .content
      .content__form-group
        .content__form-group__field
          = f.label :nickname, "ニックネーム"
          %span.form-require 必須
          %br/
          = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太郎", class: "signup-field"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:nickname).each do |message|
              .error= message

      .content__form-group
        .content__form-group__field
          = f.label :email, "メールアドレス"
          %span.form-require 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "signup-field"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:email).each do |message|
              .error= message

      .content__form-group-password
        .content__form-group-password__field
          = f.label :password, "パスワード"
          %span.form-require 必須
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "signup-field"
        -# %p.form-info-text ※ 英字と数字の両方を含めて設定してください
        - if resource.errors.any?
          - resource.errors.full_messages_for(:password).each do |message|
            .error= message


      .content__form-group-password
        .content__form-group-password__field
          = f.label :password_confirmation, "パスワード（確認用）"
          %span.form-require 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "signup-field"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:password_confirmation).each do |message|
              .error= message
          
      = f.submit "次に進む", class: "next"

.wrapper
  = render "footer"