.wrapper
  = render "posts/header"
.gretel
  - breadcrumb :mypage
  = breadcrumbs separator: " &rsaquo; "
.wrapper_main
  .wrapper-my_page
    = render "users/side_bar"
    = render "users/main_content"

.wrapper
  = render "posts/footer"
