.side_bar
  .side_bar__list
    = link_to new_group_path , class: "side_bar__list__active" do
      マイページ
    = link_to new_group_path , class: "side_bar__list__item" do
      お知らせ
    = link_to new_group_path , class: "side_bar__list__item" do
      やることリスト
    = link_to new_group_path , class: "side_bar__list__item" do
      いいね！一覧
    = link_to new_group_path , class: "side_bar__list__item" do
      出品する
    = link_to new_group_path , class: "side_bar__list__item" do
      出品した商品-出品中
    = link_to new_group_path , class: "side_bar__list__item" do
      出品した商品-取引中
    = link_to new_group_path , class: "side_bar__list__item" do
      出品した商品-過去の取引
    = link_to new_group_path , class: "side_bar__list__item" do
      出品した商品-売却済み
    = link_to new_group_path , class: "side_bar__list__item" do
      購入した商品-取引中
    = link_to new_group_path , class: "side_bar__list__item" do
      購入した商品-過去の取引
    = link_to new_group_path , class: "side_bar__list__item" do
      ニュース一覧
    = link_to new_group_path , class: "side_bar__list__item" do
      評価一覧
    = link_to new_group_path , class: "side_bar__list__item" do
      ガイド
    = link_to new_group_path , class: "side_bar__list__item" do
      お問い合わせ

  .side_bar__config
    = link_to new_group_path , class: "side_bar__config__title" do
      設定
    = link_to new_group_path , class: "side_bar__config__item" do
      発送元・お届け先住所変更
    = link_to new_group_path , class: "side_bar__config__item" do
      支払い方法
    = link_to new_group_path , class: "side_bar__config__item" do
      メール/パスワード
    = link_to new_group_path , class: "side_bar__config__item" do
      本人情報
    = link_to new_group_path , class: "side_bar__config__item" do
      電話番号の確認
    = link_to new_group_path , class: "side_bar__config__item" do
      ガイド
    = link_to new_group_path , class: "side_bar__config__item" do
      ログアウト    
    