.wrapper
  = render "header"
  .main-card-done
    %h2 購入が完了しました！
    %br
    .show-card-number
      = @item.name
      %br
      ¥
      = @item.price
    .main-done__btn
      = link_to user_path, class:"signup" do
        マイページへ戻る
.wrapper
  = render "footer"