.wrapper
  = render "devise/registrations/header"

.purchase-main
  .purchase-main__content
    .purchase-main__content__upper
      購入を確定しますか？
    .purchase-main__content__middle
      .purchase-main__content__middle__buy-item
        = image_tag @image.image.url, class: "purchase-main__content__middle__buy-item__image"
        .purchase-main__content__middle__buy-item__box
          .purchase-detail
            = @item.name
          .purchase-cost
            .purchase-cost__price
              ¥
              = @item.price
            .purchase-cost__tax
              （税込）送料込み
    .purchase-main__content__lower
      .purchase-main__content__lower__box
        .purchase-main__content__lower__box__price
          .pay-money
            支払い金額
          .pay-value
            ¥
            = @item.price
        .purchase-main__content__lower__box__pay-methods
          支払い方法
          .purchase-add
            .purchase-add__credit
              - if @default_card_information.blank?
                %br /
              - else
                -#以下カード情報を表示
                = "**** **** **** " + @default_card_information.last4
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
        .purchase-main__content__lower__box__user-info
          配送先
          = link_to "#", class: "info-change" do
            変更する
          .purchase-main__content__lower__box__user-info__detail
            .postnumber
              〒
              = @address.post_code
            .home-address
              = @address.prefecture
              = @address.municipality
              = @address.house_number
              = @address.building_name
            .user-name
              = @address.destination_family_name
              = @address.destination_first_name
        .purchase-main__content__lower__box__btn
          = form_with url: purchase_path, method: :post, html: {name: "buy"} do |f|
            = f.hidden_field :user_id, value: current_user.id
            = f.submit "購入する", class: "buy-btn"

.wrapper
  = render "devise/registrations/footer"
