= form_with model: @item do |f|
  .form__image__box__area
  .form__image__box__area--main
    = f.fields_for :images do |i|
      = i.label :image, accept: 'image/png,image/jpeg', class: 'form-mask-image box-display-none' do
        .sell-upload-drop-box
          = i.file_field :image,class: 'hidden file'
          %i.fa.fa-camera
  %pre.input-file-logo
    ドラッグアンドドロップ
    またはクリックしてファイルをアップロード  
  .form__text__box__name__area__input
    = f.text_field :name, placeholder: '40文字まで', class: 'input-name'
  .form__text__box__discription__area__text
    = f.text_area :discription, onkeyup: 'ShowLength(value);', row: '7', class: 'input-textarea', placeholder: '商品の説明（必須1,000文字以内)                                                                                          (色、素材、重さ、定価、注意点)                                                                        例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
  .form__detail__box__status__select__area
    = f.select :status, [["選択してください", 0],["新品、未使用", 1], ["未使用に近い", 2], ["目立った傷、汚れなし", 3], ["インテリア、住まい", 4]], {}, {class: 'select'}
    .arrow   
  .form__shipping__box__charge__select__area
    = f.select :shipping_charges, [["選択してください", 0],["送料込み(出品者負担)", 1], ["着払い(購入者負担)", 2]], {}, {class: 'select'}
    .arrow
  .form__shipping__box__days__select__area
    = f.select :shipping_days, [["選択してください", 0],["1~2日で発送", 1], ["2~3日で発送", 2], ["4~7日で発送", 3]], {}, {class: 'select'}
    .arrow
  .form__price__box__calculation__input__area__field
    = f.number_field :price, class: 'input-price', placeholder: '0'
  .form__price__box__button
    = f.submit '出品する', class: 'draft'
    = link_to root_path, class: 'link-root' do
      もどる
