
.wrapper
  = render "devise/registrations/header"

.sell
  .sell__main
    .sell__main__form
      .sell__main__form__content
        = form_with model: @item, local: true do |f|
          .form__image__box
            .form__list
              .form__list__logo
                出品画像
              .form__list__label
                必須
              - @item.errors.full_messages_for(:images).each do |message|
                = message
            %p.max-sheets
              最大5枚までアップロード出来ます
            .post__drop__box__container
              .prev-content
              .label-content
                %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
                  %pre.label-box__text-visible 
                    %i.fa.fa-camera.item_sell_cameraIcon
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :images do |i|
                  = i.file_field :image, class: "hidden-field", id: "item_images_attributes_0_image"
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image", accept: "image/png,image/jpeg,image/gif" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
          %hr.devide
          .form__text__box
            .form__text__box__name
              .form__list
                .form__list__logo
                  商品名
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:name).each do |message|
                  = message
              .form__text__box__name__area
                .form__text__box__name__area__input
                  = f.text_field :name, placeholder: '40文字まで', class: 'input-name'
            .form__text__box__discription
              .form__list
                .form__list__logo
                  商品の説明
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:discription).each do |message|
                  = message
              .form__text__box__discription__area__text
                = f.text_area :discription, onkeyup: 'ShowLength(value);', row: '7', class: 'input-textarea', placeholder: '商品の説明（必須1,000文字以内)                                                                                          (色、素材、重さ、定価、注意点)                                                                        例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
                :javascript
                  function ShowLength(str) {
                  document.getElementById("inputlength").innerHTML = str.length + "/1000";
                  }
              .form__text__box__discription__length    
                %p#inputlength
                  0/1000
          %hr.devide
          .form__detail__box
            %p.explain
              商品の詳細
            .form__detail__box__category
              .form__list
                .form__list__logo
                  カテゴリー
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:category_id).each do |message|
                  = message
              .form__detail__box__category__select
                .form__detail__box__category__select__area
                  = f.select :category_id, @category_parent_array, {}, {class: 'select__sell', id: 'parent_category'}
                .arrow
            -# .form__detail__box__size
            -#   .form__list
            -#     .form__list__logo
            -#       サイズ
            -#     .form__list__label
            -#       必須
            -#   .form__detail__box__size__select
            -#     .form__detail__box__size__select__area
            -#       = f.collection_select :size_id, Size.all, :id, :name, {prompt: "選択してください"}, {class: 'select__sell'}
            -#       .arrow
            .form__detail__box__brand
              .form__list
                .form__list__logo
                  ブランド
                .form__list__label__any
                  任意
              .form__detail__box__brand__name
                .form__detail__box__brand__name__input
                  = f.text_field :brand_id, placeholder:  '例）シャネル', class: 'input-name'
            .form__detail__box__status
              .form__list
                .form__list__logo
                  商品の詳細
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:status_id).each do |message|
                  = message
              .form__detail__box__status__select
                .form__detail__box__status__select__area
                  = f.collection_select :status_id, Status.all, :id, :name, {prompt: "選択してください"}, {class: 'select__sell'}
                  .arrow
          %hr.devide
          .form__shipping__box
            %p.explain
              配送について
              = link_to '#' do
                %i.far.fa-question-circle{class: 'question'}
            .form__shipping__box__charge
              .form__list
                .form__list__logo
                  発送料の負担
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:shipping_charges_id).each do |message|
                  = message
              .form__shipping__box__charge__select
                .form__shipping__box__charge__select__area
                  = f.collection_select :shipping_charges_id, ShippingCharges.all, :id, :name, {prompt: "選択してください"}, {class: "select__sell"}
                  .arrow
            .form__shipping__box__area   
              .form__list
                .form__list__logo
                  発送元の地域
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:prefecture_id).each do |message|
                  = message
              .form__shipping__box__area__select
                .form__shipping__box__area__select__area
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: 'select__sell'}
                  .arrow
            .form__shipping__box__days
              .form__list
                .form__list__logo
                  発送までの日数
                .form__list__label
                  必須
                - @item.errors.full_messages_for(:shipping_days_id).each do |message|
                  = message
              .form__shipping__box__days__select
                .form__shipping__box__days__select__area
                  = f.collection_select :shipping_days_id, ShippingDays.all, :id, :name, {prompt: "選択してください"}, {class: "select__sell"}
                  .arrow
          %hr.devide 
          .form__price__box
            .form__price__box-error
            - @item.errors.full_messages_for(:price).each do |message|
              = message
            %p.explain
              価格  (¥300~9,999,999)
              = link_to '#' do
                %i.far.fa-question-circle{class: 'question'}
            .form__price__box__calculation
              .form__price__box__calculation__input
                .form__list
                  .form__list__logo
                    販売価格
                  .form__list__label
                    必須
                %span.yen
                  ¥
                .form__price__box__calculation__input__area
                  .form__price__box__calculation__input__area__field
                    = f.number_field :price, class: 'input-price', placeholder: '0'
              .form__price__box__comission
                .form__price__box__comission__label
                  販売手数料 (10%)
                %span{}ー
              %hr.devide-total 
              .form__price__box__profit
                .form__price__box__profit__label
                  販売利益
                %span{}ー
            .form__price__box__button
              = f.submit '出品する', class: 'draft'
              = f.button '下書きに保存', class: 'exhibition'
              = link_to root_path, class: 'link-root' do
                もどる
            %p.terms
              禁止されている
              = link_to '#', class: 'link' do
                行為
              および
              = link_to '#', class: 'link' do
                出品物
              を必ず確認してください
              = link_to '#', class: 'link' do
                偽ブランド品
              や
              = link_to '#', class: 'link' do
                盗品物
              などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
              = link_to '#', class: 'link' do
                加盟店規約
              に同意したことになります。

.wrapper
  = render "devise/registrations/footer"
