.wrapper
  = render "posts/header"


.breadcrumbs
  FURIMA>
  = @item.category.root.name
  >
  = @item.category.parent.name
  >
  = @item.category.name
  >
  = @item.name

.item__details
  .item__contents
    .item__box
      %h2.item__box--name
        = @item.name
      %ul.item__box--photos
        %li.photo__large
          =image_tag @images[0].image.url, class: "photo__large"
        .photo__small
          -@images.each_with_index do |image, i|
            -if i > 0
              =image_tag image.image.url, class: "photo__small--image"
      .item__box--price
        .item__price
          %span
          ¥
          =@item.price
        .price__info
          %span (税込)
          %span 送料込み
        -# 出品者のみ情報編集ページへリンク
        - if current_user&.id != @item.seller_id
          =link_to purchase_path, class: 'price__edit__delete--btn' do
            購入画面へ進む
        - else
          =link_to '#', class: 'price__edit__delete--btn' do
            情報編集画面へ進む
          = link_to item_path, class: 'price__edit__delete--btn',onclick: "clickEvent()", method: :delete do
            商品情報を削除する
            :javascript
              function clickEvent() {
                alert( "商品情報を削除します" );
              }
      .item__box--detals
        = @item.discription

      %table.item__box--info
        %tr.username
          %th 出品者
          %td
            =@user.nickname
        %tr.item__categoly
          %th.item__categoly--showPage カテゴリー
          %td
            = link_to '#' do
              %ol
                %li
                  = @item.category.root.name
            = link_to '#' do
              %ol
                %li 
                = @item.category.parent.name
            = link_to '#' do
              %ol
                %li
                  = @item.category.name
        %tr.item__bland
          %th ブランド
          %td 
        %tr.item__size
          %th 
          %td 
        %tr.item__status
          %th 商品の状態
          %td
            = @item.status.name
        %tr.item__deli--chage
          %th 配送料の負担
          %td
            = @item.shipping_charges.name
        %tr.deli__area
          %th 発送元の地域
          %td
            = link_to '#' do
              %ol
                %li
                = @item.prefecture.name
        %tr.item__status
          %th 発送日の目安
          %td
            = @item.shipping_days.name
      %ul.item__box--btn
        .like__btn
          = link_to '#' do
            %i.fas.fa-star お気に入り 0
        .warning__btn
          = link_to '#' ,class:"warning__btn--style" do
            = icon("fas","flag")
            不適切な商品の通報
      - if current_user.id != @item.seller_id
        =link_to purchase_path, class: 'delete--btn' do
          購入画面へ進む
      - else
        =link_to edit_item_path(@item.id), class: 'edit--btn' do
          情報編集画面へ進む
        = link_to item_path, class: 'delete--btn',onclick: "clickEvent()", method: :delete do
          商品情報を削除する
          :javascript
            function clickEvent() {
              alert( "商品情報を削除します" );
            }
           
    .comments
      .form
        .comment__form
          = form_with  do |form|
            = form.text_area :comment, class: "comment__form--field"
            = form.label :comment, class: "comment__form--icon" do
              %i.fas.fa-comment
            = form.submit "コメントする", class: "form__btn"
          
        .comment__attention
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
     
    %ul.page
      = link_to '#' do
        %li.page__previous 
        %i.fas.fa-chevron-left 
        前の商品
      = link_to '#' do
        %li.page__next 
        次の商品
        %i.fas.fa-chevron-right
    %ul.other__item
      = link_to '#' do
        %li 
          = @item.category.root.name
          をもっと見る


.wrapper
  = render "posts/footer"
  = render "/posts/purchaseBtn"