.wrapper
  = render "posts/header"
.gretel
  - breadcrumb :card
  = breadcrumbs separator: " &rsaquo; "
.wrapper_main
  .wrapper-credit
    = render "card/credit_side_bar"
    = render "card/credit_main"
.wrapper
  = render "posts/footer"

  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    = image_tag "/images/icon/icon_camera.png", class: "purchaseBtn__icon"